#!/bin/bash
set -eo pipefail
sudo apt update
sudo curl -fsSL https://get.docker.com -o get-docker.sh
sudo sh get-docker.sh
sudo usermod -aG docker ubuntu
docker run -d --name hello-world -p 80:80 dockersamples/static-site